<div class="d-flex align-items-start gap-4">
  <!-- Credit Notes -->
  <table class="table table-hover caption-top mt-4">
    <caption>
      Credit
    </caption>
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Amount</th>
        <th scope="col">Note</th>
        <th scope="col" class="text-center">Action</th>
      </tr>
    </thead>
    <tbody>
      <ng-container
        *ngIf="creditNotes && creditNotes.length > 0; else noRecord"
      >
        <tr *ngFor="let note of creditNotes; let i = index">
          <td class="col-3">{{ note.date.split("T")[0] }}</td>
          <td class="col-2 text-end pe-4">{{ note.amount }}</td>
          <td class="col-4">{{ note.note }}</td>
          <td class="col-3 text-center">
            <button class="btn btn-primary btn-sm" (click)="onEdit(note)" [disabled]="editMode">
              <i class="fa fa-pencil"></i>
            </button>
            <button
              class="btn btn-danger btn-sm ms-2"
              (click)="onDelete(note._id)"
              [disabled]="editMode"
            >
              <i class="fa fa-trash-o"></i>
            </button>
          </td>
        </tr>
      </ng-container>
      <ng-template #noRecord>
        <tr>
          <td colspan="4" class="text-center">No Record</td>
        </tr>
      </ng-template>
    </tbody>
  </table>

  <!-- Debit Notes -->
  <table class="table table-hover caption-top mt-4">
    <caption>
      Debit
    </caption>
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Amount</th>
        <th scope="col">Note</th>
        <th scope="col" class="text-center">Action</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngIf="notes && debitNotes.length > 0; else noRecord">
        <tr *ngFor="let note of debitNotes; let i = index">
          <td class="col-3">{{ note.date.split("T")[0] }}</td>
          <td class="col-2 text-end pe-4">{{ note.amount }}</td>
          <td class="col-4">{{ note.note }}</td>
          <td class="col-3 text-center">
            <button class="btn btn-primary btn-sm" (click)="onEdit(note)" [disabled]="editMode">
              <i class="fa fa-pencil"></i>
            </button>
            <button
              class="btn btn-danger btn-sm ms-2"
              (click)="onDelete(note._id)"
              [disabled]="editMode"
            >
              <i class="fa fa-trash-o"></i>
            </button>
          </td>
        </tr>
      </ng-container>
      <ng-template #noRecord>
        <tr>
          <td colspan="4" class="text-center">No Record</td>
        </tr>
      </ng-template>
    </tbody>
  </table>
</div>
